$theme-colors: (
    "primary": #d700ff,
    "light": #ffd700,
    "secondary": #00ffd7
);

$link-color: #d700ff;

$pagination-active-bg: #00ffd7;

$pagination-active-color: white;
$pagination-hover-bg: #d700ff;
$pagination-hover-color: white;


@import "../../node_modules/bootstrap/scss/bootstrap";

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/utilities";

.orangesize{
    width:50px;
}

.content{
    width: 95%;
    margin: auto;
}

.loginformbtn{
    width: 150px;
}

.navbaritem{
    width: 75%;
    margin-left: auto !important;
    margin-right: auto !important;
}

@include media-breakpoint-up(sm){
    .navbarfull{
        background-color: #ffd700 !important;
    }
    .navbaritem{
        width: min-content !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}

@include media-breakpoint-up(md){
    .orangesize{
        width: 75px;
    }
    .loginform{
        width: 50%;
    }

}

@include media-breakpoint-up(lg){
    .content{
        width: 80%;
        margin: auto;
    }
    .orangesize{
        width: 100px;
    }
    .loginform{
        width: 25%;
    }
}

@include media-breakpoint-up(xl){
    .insidecontent{
        width: 75%;
        margin: auto !important;
    }
}


body{
    background-color: $gray-100 !important;
}

h1,h2,h3,h4,h5{
    font-family: Mate SC;
    font-weight: 700;
}

.nav-link {
    font-family: Mate SC !important;
    font-weight: 700;
    font-size: 18px;
}

.navbar-text {
    font-family: Mate SC !important;
    font-weight: 700;
}

.logoutbutton{
    height: 40px;
    margin-top: 3px;
}
